header {
    display: flex;
    height: 90px;
}
h1 {
    color: white;
    font-family: 'Exo';
    font-size: 70px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 16px;
}
body {
    font-family: 'Exo';
}
.profile-btn {
    background: #878bc6;
    color: #2c3066;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 20px;
    height: 40px;
}
.logout-btn {
    background: #f84bdf;
    color: #771a69;
    margin-top: 30px;
    margin-right: 20px;
    height: 40px;
}
.content {
    padding: 15px;
}
img {
    height: 275px;
    margin: 0 auto;
    float: none;
    display: block;
}

mat-card {
    text-align: center;
    background: rgba(78, 79, 83, .4);
}
mat-card-header {
    display: flex;
    justify-content: center;
}
mat-card-title {
    height: 50px;
    color: white;
}
mat-card-subtitle {
    height: 30px;
    color: lightgrey;
}
.icon {
    color: #f84bdf;
    cursor: pointer;
}
button {
    color: #878bc6;
}
